*{
    font-family: "Roboto", sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    min-height:100vh;
}
.header{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #FF7300;
    color:#FFFFFF;
}
.footer{
    flex-shrink:1;
    display: flex;
    align-items: center;
    justify-content: center;
    color :#21253c;
    padding: 20px 16px ;
    font-size:16px;
    background-color: #FF8c69;
}
.header-links{
    display: flex;

}
ul.header-links{
    list-style-type: none;
    gap:16px;
    padding-right:16px;
    overflow: hidden;
}
a.header-links{
    text-decoration: none;
    color:#F9FAF8;
}
/*need to mess more with this padding and border*/
.header-image{
    flex:1;
    display:flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-left:50px;
    font-size: 18px;
    font-weight: 700;
    
    
}
.logo-img{

    animation: 3s linear spinning infinite;
}

/*div do lado direito*/
.landing-page-div-right{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.main-logo-image{
    max-width: 300px;
    max-height: 300px;
    clip-path: circle(34%);
}
.content{
    flex:1;

}
h2{
    padding:0px;
    border:0px;
    margin:0px;
}
.landing-div{
    display: flex;
    align-content: center;
    justify-content: center;
    gap:10px;
    background-image: linear-gradient(to bottom,  #FF7300, #FFFFFF);
    min-height: 600px;
    width: 100%;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.landing-div-left{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    min-height : 80%;
    padding:20px 16px 20px 100px;
    gap:16px;
}
.btn-trabalhos{
    align-self: flex-start;
    width:200px;
    height: 40px;
    background-color: #FFB6C1;
    border:#FFB6C1;
    border-radius: 5px;
    color:#21253C;
}
.btn-trabalhos:hover{
    transform:scale(1.1)
}
.btn-trabalhos:active{
    transform:scale(1)
}
.landing-div-h2,.landing-div-p{
    align-self: flex-start;
    color:#21253C;
}


.landing-div-right{
    flex:1;
    padding:20px 100px 20px 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}


/*show case*/
.showcase-div{
    display:flex;
    align-content: center;
    justify-content:center;
    gap:16px;
    flex-direction: column;
    background-image: linear-gradient(to bottom,  #FFFFFF, #F5F5F7);
    
    color:#21253C;
    min-height: 300px;
}


.showcase-images-div, .my-work-div{
    flex:1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px;

}
.one.img:hover {
    transform: scale(1.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* drop shadow for depth */
    z-index:10;
    overflow:visible;
}

.one{
     flex:1 1 auto;
    min-width: 100px;
    max-width: 200px;
    width:100%;
    min-height : 100px;
    border : 1px solid blue;
    border-radius: 5px;
    flex-wrap: wrap;
}
.one.img{
    flex:1 1 auto;
    min-width: 100px;
    max-width: 350px;
    min-height : 100px;
    max-height:350px;
    border : 3px solid #F9D1D9;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card{
    flex:1 1 auto;
    display:flex;
    max-width: 100%;
    max-height:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
p.card-text{
    flex-wrap: wrap;
    max-width: auto;
    color:#21253c;
    font-size: 16px;
    font-weight: bold;
}

/*Testemonial part (Albeit still undecided)*/

.testemonial-div{
    background-color: #F5F5F7;
    min-height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.testemonial-container{
    display:flex;
    flex-direction: column;
    min-width:300px;
    max-width: 800px;
    padding: 8px 32px;
    color:#21253c;
}

.quote-author{
    align-self: flex-end;
    color:#21253c;
}


/*Quoting part*/

.get-quote-div{

    background-image: linear-gradient(to bottom, #F5F5F7, #FF8c69);
    background-color: #FF8c69;
    min-height: 200px;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img.logo-img{
    width: 40px;
    height: auto; 
    max-width: 100%; 
    border:0px;
    margin-left:0px;
    padding-left: 0px;
}
img.showcase-images{
    width: 100%;
    height:100%;
    object-fit: cover;

}
div.get-quote-container{
    flex:1 1 auto;
    background-color: #FF8C69;
    border:#FFB6C1;
    padding:10px 10px;
    border-radius: 12px;
    max-height:100px;
    max-width:800px;
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.btn-get-quote{
    align-self:center;
    justify-self: center;
    min-width:200px;
    min-height:40px;
    padding: auto;
    background-color: #FF8C69;
    border:#FFB6C1;
    border:1px solid white;
    color:#21253C;
}
.btn-get-quote:hover{
    transform:scale(1.1)
}
.btn-get-quote:active{
    transform:scale(1)
}


.get-your-quote-text{
    align-self: center;
    font-size: 16px;
    color :#21253C;
}
.get-your-quote-text.message{
    font-size:13px;
}
.get-your-quote-text.title{
    font-weight: 700;
}



/*logo animation*/
@keyframes spinning{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}