*{
    font-family: "Roboto", sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    min-height:100vh;
}
.header{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #1F2937;
    color:#F9FAF8;
}
.footer{
    flex-shrink:1;
    display: flex;
    align-items: center;
    justify-content: center;
    color :#F9FAF8;
    padding: 20px 16px ;
    font-size:16px;
    background-color: #1F2937;
}
.header-links{
    display: flex;

}
ul.header-links{
    list-style-type: none;
    gap:16px;
    padding-right:16px;
    overflow: hidden;
}
a.header-links{
    text-decoration: none;
    color:#F9FAF8;
}

.header-image{
    padding-left: 50px;
    font-size: 18px;
    font-weight: 700;
}

.content{
    flex:1;

}

.landing-div{
    display: flex;
    align-content: center;
    justify-content: center;
    gap:10px;
    background-color: #1F2937;
    min-height: 300px;
    width: 100%;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.landing-div-left{
    flex:1;
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding:20px 16px 20px 16px;
    border:2px solid green;
}
.landing-div-right{
    flex:1;
    padding:20px 16px 20px 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    border:2px solid green;
}
.one{
    min-width: 300px;
    min-height : 100px;
    border : 1px solid blue;
}




.showcase-div{
    display:flex;
    align-content: center;
    justify-content:center;
    gap:16px;
    flex-direction: column;
    background-color: red;
    min-height: 300px;
}

.showcase-images-div, .my-work-div{
    flex:1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px;

}


.testemonial-div{
    background-color: purple;
    min-height: 300px;
}
.get-quote-div{
    background-color: blueviolet;
    min-height: 200px;
}