*{
    font-family: "Roboto", sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    min-height:100vh;
}
.header{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #1F2937;
    color:#F9FAF8;
}
.footer{
    flex-shrink:1;
    display: flex;
    align-items: center;
    justify-content: center;
    color :#F9FAF8;
    padding: 20px 16px ;
    font-size:16px;
    background-color: #1F2937;
}
.header-links{
    display: flex;

}
ul.header-links{
    list-style-type: none;
    gap:16px;
    padding-right:16px;
    overflow: hidden;
}
a.header-links{
    text-decoration: none;
    color:#F9FAF8;
}
/*need to mess more with this padding and border*/
.header-image{
    flex:1;
    display:flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-left:50px;
    font-size: 18px;
    font-weight: 700;
    
    
}
.header-image-file{

    animation: 3s linear spinning infinite;
}

.content{
    flex:1;

}
h2{
    padding:0px;
    border:0px;
    margin:0px;
}
.landing-div{
    display: flex;
    align-content: space-around;
    justify-content: center;
    gap:10px;
    background-color: #1F2937;
    min-height: 300px;
    width: 100%;
    flex-shrink: 1;
    flex-wrap: wrap;
}
.landing-div-left{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start ;
    padding:20px 16px 20px 60px;
    border:2px solid green;
}
.landing-div-right{
    flex:1;
    padding:20px 16px 20px 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    border:2px solid green;
}


/*show case*/
.showcase-div{
    display:flex;
    align-content: center;
    justify-content:center;
    gap:16px;
    flex-direction: column;
    background-color: red;
    min-height: 300px;
}

.showcase-images-div, .my-work-div{
    flex:1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px;

}


.one{
    flex:1 1 auto;
    min-width: 100px;
    max-width: 200px;
    width:100%;
    min-height : 100px;
    border : 1px solid blue;
    border-radius: 5px;
    flex-wrap: wrap;
}


.card{
    flex:1 1 auto;
    display:flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.card-text{
    flex-wrap: wrap;
    max-width: 200px;
}

/*Testemonial part (Albeit still undecided)*/

.testemonial-div{
    background-color: purple;
    min-height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.testemonial-container{
    display:flex;
    flex-direction: column;
    min-width:300px;
    max-width: 800px;
    padding: 8px 32px;
}

.quote-author{
    align-self: flex-end;
}


/*Quoting part*/

.get-quote-div{
    background-color: blueviolet;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 40px;
    height: auto; 
    max-width: 100%; 
    border:0px;
    margin-left:0px;
    padding-left: 0px;
}

div.get-quote-container{
    flex:1 0 1;
    background-color: #3882f6;
    padding:10px 18px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.btn-get-quote{
    align-self:center;
    justify-self: center;
    min-width:100px;
    padding: auto;
    background-color: #3882f6;
    border:1px solid white;
    color:#F9FAF8;
}
.btn-get-quote:active{
    animation: .2s button-clicked infinite;
}
@keyframes button-clicked{
    0%{

    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(-1.2);
    }
    100%{
        transform: scale(1);
    }
}

.get-your-quote-text{
    font-size: 16px;
    color:#F9FAF8;
}
.get-your-quote-text.message{
    font-size:10px;
}
.get-your-quote-text.title{
    font-weight: 700;
}



/*logo animation*/
@keyframes spinning{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}