*{
    font-family: "Roboto", sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    min-height:100vh;
}
.header,.footer{
    flex-shrink:1;
}
.header{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #1F2937;
    color:#F9FAF8;
}
.header-links{
    display: flex;

}
ul{
    list-style-type: none;
    gap:16px;
}
a{
    text-decoration: none;
    color:#F9FAF8;
}

.content{
    flex:1;
}